.skills {
  transition: all 1s;
  padding: 0 7rem;
  text-align: center;


  &__logo{
    font-size: 7rem;
    color: rgba($color-green, 1);
  }

  &__text {
    display: block;
    padding-top: 1rem;

  }

  &:hover {
    transform: scale3d(1.15,1.15,1.15);// translateX(1rem);
  }
  &__text{
    font-size: 2.3rem;
    font-weight: 400;
  }

}